<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1521394573970-cdcef757fddd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1346&q=80);">
  <div class="container">
    <h1>Vk's Cafofo </h1>
  </div>
</div>

<div class="container">
  <div class="cards p-4">
    <% @cocktails.each do |cocktail| %>
      <% if cocktail.photo.attached? %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path cocktail.photo.key %>')">
          <%= link_to cocktail.name, cocktail_path(cocktail), class: "card-name"%>
        </div>
      <% else %>
        <div class="card-category" style="background-color: black">
          <%= link_to cocktail.name, cocktail_path(cocktail), class: "card-name" %>
        </div>
      <% end %>
    <% end%>
  </div>
   
</div>
